html {
  background: hsl(225, 100%, 94%);
  color: hsl(224, 23%, 55%);
}

img {
  width: 100%;
}

a {
  font-weight: 700;
  font-size: 14px;
}

body {
  background-image: url(/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Red Hat Display', sans-serif;
}

@media (min-width: 375px) {
  body {
    background-image: url(/pattern-background-desktop.svg);
  }
}

.card-container {
    background-color: #FFF;
    max-width: 330px;
    margin: 5em auto 3em auto;
    border-radius: 20px;
}

.main-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2em 1em 1.5em 1em;
  line-height: 1.6em;
}

h1 {
  font-size: 24px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: .2em;
}

h2 {
  font-size: 16px;
  font-weight: 900;
}

h1, h2 {
  color: hsl(223, 47%, 23%);
}

p {
    font-size: 16px;
}

.current-plan {
  display: flex;
  align-items: center;
  background: hsl(225, 100%, 98%);
  padding: 0 1.2em;
  border-radius: 15px;
}

.music-icon {
  width: 3em;
  height: 3em;
  padding-right: 1em;
}

.plan-price {
  display: flex;
  flex-direction: column;
  padding-right: 2.5em;
}

.plan-price > span {
  font-weight: 500;
  color:hsl(224, 23%, 55%);
  margin-top: -.2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*
## Colors

    ### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

    ### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

    ### Body Copy

- Font size (paragraph): 16px

    ### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900*/
