body {
  background: hsl(225, 100%, 94%);
  color: hsl(224, 23%, 55%);
  background-image: url(pattern-background-mobile.svg); /*REMEMBER remove first "/" in url path so it works with github pages*/
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 425px) {
  body {
    background-image: url(pattern-background-desktop.svg);
  }
}

img {
  width: 100%;
}

a {
  font-weight: 700;
  font-size: 14px;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

.card-container {
  background-color: #fff;
  width: 325px;
  margin: 6em auto 6em auto;
  border-radius: 20px;
  box-shadow: 0 1em 2em rgba(56, 42, 225, 0.2);
}

@media (min-width: 425px) {
  .card-container {
    width: 425px;
  }
}

.main-image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.6em 1em 1.5em 1em;
  margin: 0 auto;
  line-height: 1.6em;
}

h1 {
  font-size: 22px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin: 0;
}

@media (min-height: 425px) {
  h1 {
    font-size: 24px;
    margin: 0.6em 0 0 0;
  }
}

h2 {
  font-size: 14px;
  font-weight: 900;
}

p {
  font-size: 16px;
}

.description {
  padding: 0 0.8em 0.4em 0.8em;
  max-width: 20em;
}

.music-icon {
  width: 3em;
  height: 3em;
  padding-right: 1.2em;
  padding-left: 0.5em;
}

.current-plan {
  display: flex;
  align-items: center;
  background: hsl(225, 100%, 98%);
  padding: 0.3em 0.5em;
  border-radius: 10px;
  line-height: 1.4em;
  width: 88%;
}

.change {
  font-size: 13px;
  font-weight: 900;
  padding-left: 3.5em;
  color: hsl(245, 75%, 53%);
}

@media (min-width: 425px) {
  .music-icon {
    width: 2.7em;
    height: 2.7em;
    padding-left: 0.8em;
  }

  .current-plan {
    padding: 0.6em 0.5em;
    width: 82%;
    line-height: 1.6em;
  }

  .change {
    padding-left: 8em;
  }
}

.change:hover {
  text-decoration: none;
  opacity: .75;
}

.plan-price {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: hsl(223, 47%, 23%);
}

.plan-price > span {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  margin-top: -0.2em;
}

.btn-container {
  background-color: hsl(245, 75%, 53%);
  color: #fff;
  padding: 0 0.5em;
  border-radius: 10px;
  width: 88%;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
  box-shadow: 0 0.8em 1.5em rgba(56, 42, 225, 0.4);
}

.cancel {
  padding-bottom: 0;
}

@media (min-height: 425px) {
  .btn-container {
    width: 82%;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
  }

  .cancel {
    padding-bottom: 0.6em;
  }
}

.btn-container:hover {
  opacity: .75;
}

.btn-container > h2:hover {
  cursor: pointer;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
